@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  margin: 0;
  display:flex;
  background-color: white;
}  

a {
  font-family: 'Inconsolata', monospace;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

footer p{
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  /*max-width: 1000px;*/
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 35px;
/*left: 60px;*/
}

.page-nav {
  display: none;
}

.page-nav.show {
 /* display: flex;
  flex-direction: flex-end;*/
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
/*  margin-left: 35px;
  margin-right: 35px;*/
}



/*#dropdown-content{
  position: absolute;
  min-width: 160px;
  z-index: 1;
  text-align: center;
  margin-top: 60px;
  margin-left: 27%;
  margin-bottom: 20px;

}*/


.name-logo {
  margin-left: 35px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 1em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 30px 15px;
  
}


.intro-about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 850px;
}

.intro-about img{
  display: block;
  height: 100%;
}

.key-about {
  padding: 30px 30px 0px 30px;
  margin: 0 auto;
}

.key-about h2{
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.9em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}

.name {
  padding-bottom: 15px;
}

.key-about h3{
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}

.main-about {
  margin: 0 auto;
  padding: 0px 30px 0px 30px;
  max-width: 850px;
}

.main-about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
  margin: 30px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

/*media queries here*/

@media screen and (max-width: 380px){

  main {
  padding-top: 20px;
  margin: 0 auto;
}
}


@media screen and (min-width: 400px){
  

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 20px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  /*margin-top: 30px;*/
  padding: 0 15px 0 15px;
}

}

@media screen and (max-width: 700px){


}

@media screen and (max-width: 1000px){
  
}


@media screen and (max-width: 1200px){

  .wrapper {
    width: 100%;
    height: 100%;
  }
}














