@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Apercu', 'Karla', sans-serif;
  margin: 0;
  display: flex;
  background-color: #fff9f9;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4C5B7F;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

footer p{
  /*font-family: 'Cutive Mono', monospace;*/
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
}

button {
  /*font-family: 'Cutive Mono', monospace;*/
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 30px;
/*margin-top: 3px;*/
}

.page-nav {
  display: none;
}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo {
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
  margin-top: 8px;
}

.page-nav a {
  z-index: 30;
}

.page-nav li a.active {
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/*start of body content*/

.intro-about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 850px;
}

.intro-about img{
  height: 100%;
  width: 90%;
}

.key-about {
  padding: 30px 10px 0px 10px;
  margin: 0 auto;
}

.name {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 15px;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  font-size: 2.4em;
  font-weight: 600;

}

.intro-text {
  /*font-family: 'Poppins', sans-serif;*/
  font-size: 1em;
  letter-spacing: 0.5px;
  padding: 0 10px 0 10px;
  line-height: 1.7em;
  margin-bottom: 20px;
}


footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 60px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

.social img:hover {
  background-color: #4C5B7F;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

/*media queries here*/

@media screen and (max-width: 380px){

  main {
  padding-top: 20px;
  margin: 0 auto;
}
}


@media screen and (min-width: 400px){
  
.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
  margin-top: 8px;
}

}


@media screen and (min-width: 700px){

.mobile-menu {
  display: none;
}

.name-logo {
margin-left: 80px;
}

.page-nav {
margin-right: 80px;
}

.intro-about img{
  width: 80%;
  display: block;
}

.key-about {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.key-about p {
  width: 690px;
}

.main-about {
  width: 660px;
  padding: 0;
}

.intro-text {
  margin: 0 auto;
  margin-bottom: 20px;
}

.name {
  /*text-align: left;*/
  text-align: center;
  padding-left: 10px;
  padding-bottom: 20px;
}

}

@media screen and (min-width: 1000px){


.intro-about img{
  width: 80%;
  display: block;
}

.key-about {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.main-about {
  width: 660px;
  padding: 0;
}

.intro-text {
  margin: 0 auto;
  margin-bottom: 20px;
}

  
}

@media screen and (min-width: 1200px){

.wrapper {
    width: 100%;
    height: 100%;
}

}














