@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Avenir', sans-serif;*/
  margin: 0;
  display:flex;
  background-color: white;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}  

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

a:hover{
  color: #4C5B7F;
}

.text a {
  letter-spacing: 1px;
  text-decoration: underline;
  color: #4C5B7F;
}


li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-left: 30%;
}

.page-nav {
  display: none;

}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo{
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
  margin-top: 8px;
}

.page-nav li a.active {
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.hero-text {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.hero-text p {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  margin: 0 auto;
}

/* STYLING FOR FLORIST PAGE*/

.florist-main {
  margin: 0 auto;
}

.flower-title {
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.2em;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
}

.text {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.floral-text {
  padding: 10px;
  margin-top: 0;
}

.floral-links {
  padding-left: 10px;
}

.floral-links a {
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
  text-decoration: underline;
  color: black;
}

.floral-links a:hover {
  color: #4C5B7F;
}

.process {
  width: 90%;
}

.item00 {
  border: 1px black solid;
}

.item00 p {
  padding: 10px;
  margin: 0 auto;
  line-height: 1.3em;
}

.sentence {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  padding: 0 20px 0 20px;
  text-align: center;
  font-size: 1.2em;
}

.danke {
  margin: 0 auto;
  padding: 0 30px 0 30px;
  max-width: 800px;
}

.ty {
  font-family: 'Abhaya Libre', serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
}

.thanks {
  font-size: 15px;
}

.flower-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.flower-grid img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}


footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

.social img:hover {
  background-color: #4C5B7F;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
  letter-spacing: 2px;
}

/*media queries*/

@media screen and (min-width: 380px){

  main {
  padding-top: 20px;
  margin: 0 auto;
}

.flower-grid img {
  max-width: 320px;
}

.item04 {
  border: 1px black solid;
}

.item04 p {
  padding: 10px;
  margin: 0 auto;
  line-height: 1.3em;
}

}

@media screen and (min-width: 400px){

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 20px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
}

.flower-grid {
  margin: 0 auto;
}

.flower-grid img {
  max-width: 100%;
}

}

@media screen and (min-width: 600px) {

.hero-text p {
  width: 700px;
}

.flower-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.item01 {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.item01 img {
  /*height: 100%;*/
  /*height: 500px;*/
  width: 100%;
  object-fit: cover;
}

.item02 img {
  grid-row: auto;
  height: 366px;
  /*width: 100%;*/
  /*height: 30%;*/
  object-fit: cover;
}

.item03 {
   grid-row: auto / span 1;
   grid-column: auto / span 3;
}

.item04 {
  grid-column: auto / span 1;
  background-color: #bb7366;
}

.item04 {
  border: none;
}


.item05 {
  grid-column: span 1;
  grid-row: span 1;
}

.item05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item07 {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  height: 450px;
  object-fit: cover;
}



.item06 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item08 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item09 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item10 {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: #f6e1d4;
}

.item11 {
  grid-row: auto / span 1;
  grid-column: auto / span 2;
}

.item11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item12 {
  background-color: #83a09d;
}

.item13 {
  grid-row: auto / span 1;
  grid-column: auto / span 2;
}

.item13 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item14 {
  grid-column: auto / span 2;
}

.item15 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item16 {
  background-color: #e0ebdd;
}

.item17 {
  grid-row: auto / span 1;
  grid-column: auto / span 2;
}

.item17 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item18 {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.item19 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item20 img {
  grid-row: auto / span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item21 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item22 {
  grid-row: auto;
  grid-column: auto / span 2;
}

.item22 img {
height: 100%;
width: 100%;
object-fit: cover;
}

}

@media screen and (min-width: 700px){
  .name-logo {
margin-left: 80px;
}

.page-nav {
margin-right: 80px;
}

}

@media screen and (min-width: 830px){

.flower-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) ;
}


}

@media screen and (min-width: 1000px) {

.flower-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)) ;
}

main {
  padding-top: 0;
}

}



