.open-img {
	width: 80%;
}

.summary p {
	margin-top: 0;
}

.comm-mockups {
	/*display: flex;*/
	width: 50%;
	height: auto;
}

.goals {
	width: 800px;
}

.bizgoals {
	border: 2px solid #DC5C6B;
}

.sitegoals {
	border: 2px solid #DC5C6B;
}

.bottom {
	background-color: #FFE68B;
}

/*.goals {
	width: 280px;
	margin: 15px;
}*/

/*.mockup-tgt {
	display: flex;
	justify-content: space-between;
}*/

/*.waitibit-mockup {
	width: 300px;
	height: auto;
}*/