@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*font-family: 'Poppins', 'Arial',sans-serif;*/
  font-family: 'Inconsolata', monospace;
  margin: 0;
  display:flex;
  background-color: white;
}  

a {
  font-family: 'Inconsolata', monospace;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}

footer p{
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  /*max-width: 1000px;*/
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 35px;
/*left: 60px;*/
}

.page-nav {
  display: none;

}

.page-nav.show {
 /* display: flex;
  flex-direction: flex-end;*/
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
/*  margin-left: 35px;
  margin-right: 35px;*/
}

.name-logo{
  margin-left: 35px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 1em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 30px 15px;
  
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.content-container p {
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.explore-main {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}


main h1{
font-family: 'Merriweather', serif;
padding-bottom: 30px;
letter-spacing: 0.2em;
font-weight: 500;
text-align: center;
margin: 0 auto;
font-size: 1.7em; 
}

.flower-link:hover {
  background-color: aliceblue;

}

.explore-blurb {
  /*font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;*/
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  font-size: 1em;
  max-width: 700px;
}

.explore-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

/*.item {
  border: black 1px solid;
}*/

.item-title {
  max-width: 300px;
}

/*.explore-grid img {
  display: block;
  margin: 0;
  width: 100%;
}*/

.item01 {
  margin: 0 auto;
}

.item01 a {
  text-decoration: none;
}

.flower-title {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #011C1B;
  /*color: rgba(179, 210, 207, 1.5);*/
  /*color: #E8A193;*/
  /*background-color: ;*/
  text-transform: uppercase;
  letter-spacing: 0.7em;
  line-height: 1.7em;
  font-size: 1.6em;
  font-weight: 600;
  position: relative;
  z-index: 5;
  top: -185px;
  margin: 0 auto;
  text-align: center;
  /*position: absolute;*/
}

.item02 {
margin: 0 auto;
}

.item02 a {
  text-decoration: none;
}

.photo-title {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #E9A380;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  line-height: 1.7em;
  font-size: 1.6em;
  font-weight: 600;
  position: relative;
  z-index: 5;
  top: -295px;
  left: 50px;
  margin: 0 auto;
  text-align: center;
}

.item03 {
margin: 0 auto;
}

.item03 a {
  text-decoration: none;
}

.art-title {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #90C6F5;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  line-height: 1.7em;
  font-size: 1.6em;
  font-weight: 600;
  position: relative;
  z-index: 5;
  top: -155px;
  left: -50px;
  margin: 0 auto;
  text-align: center;
}

footer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
  margin: 30px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

/*media queries*/

@media screen and (min-width: 380px){

  main {
  padding-top: 20px;
  margin: 0 auto;
}

}

@media screen and (min-width: 400px){

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 20px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
}

.explore-grid {
grid-template-columns: 1fr;
}

.explore-grid img {
  display: block;
  margin: 0 auto;
  width: 350px;
}

}

@media screen and (min-width: 600px) {
.explore-grid {
grid-template-columns: 1fr 1fr;
}

/*.explore-grid img {
  display: block;
  margin: 0;
  width: 100%;
}*/
}

@media screen and (min-width: 1000px) {
  .explore-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item03 {
    margin-left: 55px;
  }
}








