@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Apercu', sans-serif;
  margin: 0;
  display:flex;
  background-color: #fff9f9;;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
} 

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4C5B7F;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 30px;
}

.page-nav {
  display: none;

}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo{
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
}

.page-nav a {
  z-index: 30;
}

.page-nav li a.active {
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* main body */

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.content-container p {
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.explore-main {
  margin: 0 auto;
  padding: 15px 20px 20px 20px;
}

main h1 {
  letter-spacing: 0.1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
  font-size: 2em;
}

.explore-blurb {
  text-align: center;
  text-align: left;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.6em;
  width: 80%;
  padding: 5px 10px 5px 10px;
}

.explore-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
}

.item {
  overflow: hidden;
  max-height: 320px;
  max-width: 320px;
}

.item video {
  margin: 0 auto;
  object-fit: cover;
  max-height: 320px;
  max-width: 320px;
}

.item-title {
  max-width: 300px;
  font-family: 'Abhaya Libre', serif;
  background: rgba(244, 183, 112, 0.4);
  font-size: 1.6em;
  font-weight: 600;
  position: relative;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
}

.item01 {
  margin: 0 auto;
}

.item01 video {
  height: 320px;
}

.item01 a {
  text-decoration: none;
}

.flower-title {
  color: #ffb801;
  text-shadow: 1px 1px white;
  top: -185px;
  letter-spacing: 0.7em;
}

.item02 {
  margin: 0 auto;
}

.item02 a {
  text-decoration: none;
}

.photo-title {
  color: #f59896;
  text-shadow: 1px 1px #f5cdd4;
  letter-spacing: 0.5em;
  top: -185px;
}

.item03 {
  margin: 0 auto;
}

.item03 a {
  text-decoration: none;
}

.art-title {
  color: #4ba4ab;
  text-shadow: 1px 1px #90c6f5;
  letter-spacing: 0.7em;
  top: -185px;
}

.bloop {
  background-color: #f4b770;
  width: 90%;
}

.soon-title {
  top: -150px;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 35px 20px 35px;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

/*media queries*/


@media screen and (min-width: 400px){

.mobile-menu {
  display: none;
}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 20px;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
  margin-top: 8px;
}

.explore-grid {
  grid-template-columns: 1fr;
}

.explore-grid img {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.item {
  margin-bottom: 30px;
}

}

@media screen and (min-width: 700px) {

.mobile-menu {
  display: none;
}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 80px;

}

.name-logo {
  margin-left: 80px;
}

.explore-grid {
  grid-template-columns: 1fr 1fr;
}

.explore-blurb {
  text-align: center;
}


}

@media screen and (min-width: 1000px) {

.explore-grid {
  grid-template-columns: 1fr 1fr 1fr;

  }

main h1 {
  font-size: 2em;
}

.explore-blurb {
  line-height: 1.6em;
  width: 700px;
}

}

