@font-face {
    font-family: Apercu;
    font-weight: normal;
    src: url(../fonts/apercu-regular-webfont.otf) format("opentype");
    /*src: url(../fonts/apercu-regular-webfont.ttf) format("truetype");*/
    src: url(../fonts/apercu-mono-webfont.eot);
    src: url(../fonts/apercu-regular-webfont.woff) format("woff"),
        url(../fonts/apercu-regular-webfont.ttf) format("truetype")
}

@font-face {
    font-family: Apercu;
    font-weight: bold;
    src: url(../fonts/apercu-bold-webfont.eot);
    src: url(../fonts/apercu-bold-webfont.woff) format("woff"),
        url(../fonts/apercu-bold-webfont.ttf) format("truetype")
}

@font-face {
    font-family: Apercu;
    font-weight: 500;
    src: url(../fonts/apercu-medium-webfont.eot);
    src: url(../fonts/apercu-medium-webfont.woff) format("woff"),
        url(../fonts/apercu-medium-webfont.ttf) format("truetype")
}
