@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: 'Apercu', sans-serif;
  margin: 0;
  display:flex;
  background-color: #fff9f9;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
} 

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


h2, h4 {
  /*font-family: 'Abhaya Libre', serif;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
  /*font-family: 'Apercu', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 300;
  letter-spacing: 0.1em;
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4C5B7F;
}

.text a {
  font-family: 'Apercu', sans-serif;
  text-decoration: underline;
}

.text a:hover {
  color: #ffc32f;
}

.page-nav li {
  list-style: none;
}

li {
list-style: circle;
line-height: 1.5em;
letter-spacing: 0.5;
}

p {
line-height: 1.5em;
letter-spacing: 0.5px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vid-all {
  display: block;
  /*justify-content: space-between;*/
  margin: 0 auto;
  background-color: #E8EAEF;
}

/*.video-description {
  width: 40%;
  padding: 15px;
}*/

.video-description {
  margin: 0 auto;
  padding: 10px;
}

.forte-wf-2 {
  padding-bottom: 0px;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 35px;
}

.page-nav {
  display: none;
}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo {
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
  margin-top: 8px;  
}

.page-nav a {
  z-index: 30;
}

/*start of core content*/

.core {
  margin: 0 auto;
  width: 95%;
}

.core-title {
  color: grey;
}

.project-title {
  font-family: 'Apercu', sans-serif;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 1.9em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 25px;
  color: black;
}

.sub-title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.4em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.timeline {
 /*margin: 0 auto;*/
  text-align: center;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.open-img {
  /*width: 90%;*/
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 45px;
}

/*business card image style*/
.card-img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-brief-bottom {
  /*text-align: center;*/
  /*width: 90%;*/
  padding-bottom: 45px;
  border-bottom: black solid 1px;
}

.sig {
  font-size: 2em;
}

.section-title {
  font-size: 2.5em;
  font-weight: 500;
 /* padding-bottom: 5px;
  border-bottom: black solid 1px;*/
}

.role-title {
margin-top: 30px;
}

.title {
  font-family: 'Apercu', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: grey;
  margin: 0px;
}


.question {
  line-height: 1.5em;
  /*font-family: 'Cutive Mono', monospace;*/
}

/*.forte-question {
  margin: 30px 0 30px 0;
}*/


.text {
  line-height: 1.5em;
  letter-spacing: 0.5px;
}


.discovery-content ul {
  line-height: 1.3em;
  letter-spacing: 0.5px;
}


/* site link styling */

.site-link a {
  font-family: 'Apercu', sans-serif;
  text-decoration: none;
}

.site-link:hover {
  background-color: #E4EAF0;
}

.site-link {
  padding: 10px;
  background-color: #A3DBDE;
  width: 150px;
  border-radius: 15px;
  transition-duration: 0.4s;
  /*margin: 0 auto;*/
}

.site-link p {
  margin: 0;
  text-align: center;
}


/*.discovery-content li {
list-style: circle;
line-height: 1.3em;
letter-spacing: 0.5;
}*/


/*.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}*/

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*margin: 50px 35px 20px 35px;*/
  padding: 50px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

.social img:hover {
 background-color: #ffc32f;
 -webkit-transition: background-color 1000ms linear;
 -ms-transition: background-color 1000ms linear;
 transition: background-color 1000ms linear;
}

/*  /*background-color: #f1b522;*/
 /*background-color: #fac133;*/ 

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}


/*other projects stylings*/

/*.other-projects {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}
*/

.other-projects {
  margin: 0 auto;
  /*width: 90%;*/
  /*background-color: rgba(245, 201, 186, 0.6);*/

}

/*.other-projects p {
  text-align: left;
    width: 90%;
  
}*/

.other-title {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 12%;
  font-size: 1.3em;
  margin: 0 auto;
}

/*.other-link p a {
  font-family: 'Abhaya Libre', serif;
}*/

.project-next {
  width: 90%;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0 20px 0;
}

.other-projects p {
  line-height: 1.3em;
  margin: 0;
}

.other-projects a {
/*font-family: 'Apercu', sans-serif;*/
font-family: 'Abhaya Libre', serif;
font-size: 1.4em;
text-decoration: none;
}

.other-projects a:hover {
  color: orange;
}

.bottom {
  /*background-color: rgba(245, 201, 186, 0.3);*/
  background-color: rgba(232, 234, 239, 0.8);
  margin-top: 70px;
}

/*media queries here*/

@media screen and (max-width: 380px){

  main {
  padding-top: 20px;
  margin: 0 auto;
}

}


@media screen and (min-width: 400px){
  
.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 20px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  /*margin-top: 30px;*/
  padding: 0 15px 0 15px;
}

}


@media screen and (min-width: 700px){

.mobile-menu {
  display: none;
}

.page-nav {
  display: block;
  margin-top: 25px; 
  /*margin-right: 80px;*/
  margin-right: 50px;
  /* does it aesthetically look the same and better as???*/

}

.name-logo {
  margin-left: 80px;
}

.core {
  width: 83%;
  margin: 0 auto;
}

.intro {
  line-height: 1em;
}

/*desk top design start*/

.brief {
  display: flex;
  justify-content: space-between;
}

.summary {
  width: 700px;
}

/*.summary-index p {
  line-height: 0.7em;
}*/

.project-title {
  text-align: left;
  width: 70%;
  margin: 0;
}

.sub-title {
  text-align: left;
  width: 45%;
  margin: 0;
  font-size: 1em;
  padding: 30px 0 30px 0;
}

.timeline {
  text-align: left;
  width: 45%;
  margin: 0;
  font-size: 0.8em;
}

.project-brief-bottom.text {
  padding-bottom: 0;
  border-bottom: none;
}


.intro-tgt {
  display: flex;
  justify-content: space-between;
}

.content .intro {
  display: block;
}

.client {
  text-align: right;
}

.highlight {
  background-color: lightblue;
}

.ask {
    text-align: center;
}

.goals {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.bizgoals {
  width: 300px;
  display: block;
  padding: 30px;
  padding: 0 30px 0 30px;
  border: 2px solid #9CCDC9;
}

.sitegoals {
  width: 300px;
  display: block;
  text-align: left;
  padding: 0 30px 0 30px;
  border: 2px solid #9CCDC9;
}

.vid-all {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #E8EAEF;
}

.video-description {
  width: 40%;
  padding: 15px;
}

.desktop-wf-collection img {
  width: 50%;
}

.forte-wf-2 {
  position: relative;
  float: right;
  padding-bottom: 0;
}

#desktop-wireframe img {
  width: 50%;
  height: auto;
  left: 0;
  top: 0;
}

.wf-disclaimer {
  margin-top: 0;
}

/*.wf-disclaimer {
  display: block;
}*/



}

@media screen and (min-width: 1000px){

.core {
  width: 80%;
  margin: 0 auto;
}

.text {
  font-size: 1em;
}

/*video*/

.video-description {
  margin-top: 30px;
}

.phone-vid {
  width: 45%;
  margin-bottom: 20px;
}


.phone-des {
  margin-top: 0;
  margin-bottom: 25px;
}

/*wireframe styling*/

.desktop-wf-collection img {
padding-top: 10px;
}


/*.desktop-wf-collection img {
  width: 50%;
  height: auto;
  left: 0;
  top: 0;
}*/



/* other project styling */

.other-projects {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.project-next {
  width: 90%;
  margin-right: 220px;
}

.other-title {
  padding-top: 50px;
  padding-left: 15%;
  font-size: 1.1em;

}

.actual-other {
  margin-top: 45px;
}

.bottom {
  margin-top: 100px;
}
  
}


@media screen and (min-width: 1200px){

.core {
  width: 85%;
  margin: 0 auto;
}

.video-description {
  margin-top: 80px;
}
.phone-des {
  margin-top: 70px;
}

}














