@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, footer, h1, p {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  display:flex;
  background-color: white;
}

a {
  font-family: 'Inconsolata', monospace;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.page-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;

}

.name-logo a {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.page-nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}

.page-nav li {
  justify-content: space-around;
  padding: 20px 10px 30px 10px;
  
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-grid img {
  display: block;
}


.social p {
  margin: 0 auto;
  padding: 20px 0 20px 0;
  justify-content: center;
}

footer {
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}

/*media queries here*/


@media screen and (max-width: 700px){
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small Phones - 1 column */
@media screen and (max-width: 400px){
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

