@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;*/
  margin: 0;
  display:flex;
  background-color: white;
}  

a {
  font-family: 'Inconsolata', monospace;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

footer p{
  font-family: 'Inconsolata', monospace;
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

video {
  width: 350px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  }

.nav-up {
    top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 35px;
z-index: 5000;
}

.page-nav {
  display: none;
}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo{
  margin-left: 35px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  /*font-family: 'Lora', serif;*/
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 1.2em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 30px 15px;
  
}

.page-nav a {
  z-index: 30;
}

/* construction message styling */

.construction {
  margin-top: 0;
  width: 90%;
}

/* hero section deets */

.hero-section {
  margin-bottom: 50px;
  display: block;
  transition: opacity 1.5s ease-in-out;

}

.hero-section img {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.hero-text {
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  margin: 0 auto;
  padding: 15px 15px 35px 15px;
  width: 90%;
  }

.hero-text p {
  color: black;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  margin-top: 90px;
}

/* see my work styling */
/*
.view-here {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  margin: 0 auto;
}

.view-here p {
  margin-top: 0;
  text-align: center;
}*/

/*start of index portfolio*/

.portfolio {
  height: 100%;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 0;
  padding-bottom: 42%;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 90%;
}

.project-title { 
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  font-size: 1.8em;
  color: white;
  letter-spacing: 0.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;*/
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Inconsolata', monospace;*/
  font-family: 'Raleway', sans-serif;
}

.p-link {
  text-decoration: none;

}

.piece-one {
  background-image: url('../images/howlscastle.jpg');
  margin-bottom: 50px;
}

.piece-two {
  background-image: url('../images/rainclouds.jpeg');
  margin-bottom: 50px;
}

.piece-three {
  background-image: url('../images/sun02.jpg');
  margin-bottom: 50px;
}



footer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
  margin: 30px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

/*media queries here*/

@media screen and (max-width: 380px){

  .intro-vid {
  padding-top: 20px;
  margin: 0 auto;
}
}

@media screen and (min-width: 400px){

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
}

}

@media screen and (min-width: 500px){

video {
  width: 450px;
  padding: 0;
  margin: 0 auto;
}

.video-words {
  top: -170px;
}


.video-words h1 {
  letter-spacing: 1.5em;
  font-size: 1.1em;
  padding-left: 33px;
}

.video-words h2 {
  letter-spacing: 1em;
  font-size: 0.5em;
  padding-left: 33px;
}

.video-words h4 {
  letter-spacing: 1em;
  font-size: 0.3em;
  padding-left: 30px;
}

}

@media screen and (min-width: 700px){

.intro-content {
  position: fixed;
  width: 100%;
  transition: 1s opacity ease;
  display: block;
}

.not-sticky {
  opacity: 0;
  /*transition: 1s opacity ease-in-out;*/
}

video {
  width: 650px;
  padding: 0;
  margin: 0 auto;
}

.video-words {
  top: -227px;
  padding-left: 5px;
}


.video-words h1 {
  letter-spacing: 1.5em;
  font-size: 1.6em;
  padding-left: 33px;
}

.video-words h2 {
  letter-spacing: 1em;
  font-size: 0.8em;
  padding-left: 33px;
}

.video-words h4 {
  letter-spacing: 1em;
  font-size: 0.4em;
  padding-left: 30px;
}

.portfolio-pieces {
  width: 700px;
  margin: 0 auto;
  display: block;
  margin-top: 500px;
}

.project-title {
  font-size: 3em;
}

.piece-one {
  margin-bottom: 100px;
}

.piece-two {
  margin-bottom: 100px;
}

.piece-three {
  margin-bottom: 100px;
}

}


@media screen and (min-width: 1000px){

.intro-content {
  position: fixed;
  width: 100%;
  transition: 1s opacity ease;
  display: block;
}

  video {
  width: 800px;
  padding: 0;
  margin: 0 auto;
}

.video-words {
  top: -280px;
  padding-left: 5px;
}


.video-words h1 {
  letter-spacing: 1.5em;
  font-size: 2.2em;
  padding-left: 55px;
}

.video-words h2 {
  letter-spacing: 1em;
  font-size: 1.1em;
  padding-left: 45px;
}

.video-words h4 {
  letter-spacing: 1em;
  font-size: 0.7em;
  padding-left: 45px;
}

.portfolio-pieces {
  width: 700px;
  margin: 0 auto;
  display: block;
  margin-top: 500px;
}

}


@media screen and (min-width: 1200px){

.intro-content {
  position: fixed;
  width: 100%;
  transition: 1s opacity ease;
  display: block;
}

  video {
  width: 850px;
  padding: 0;
  margin: 0 auto;
}

.video-words {
  top: -290px;
  padding-left: 5px;
}

.portfolio-pieces {
  width: 800px;
  margin: 0 auto;
  display: block;
  /*margin-top: 600px;*/
}

}

@media screen and (min-width: 1500px){

.intro-content {
  position: fixed;
  width: 100%;
  transition: 1s opacity ease;
  display: block;
}

  video {
  width: 1100px;
  padding: 0;
  margin: 0 auto;
}

.portfolio-pieces {
  width: 1000px;
  margin: 0 auto;
  display: block;
  margin-top: 700px;
}

}


