@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*font-family: 'Apercu', sans-serif;*/
  font-family: 'Avenir', sans-serif;
  margin: 0;
  display: flex;
  background-color: #fff9f9;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}  

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4C5B7F;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

.nav-up {
    top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-left: 30%;
}

.page-nav {
  display: none;
}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo{
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
  margin-top: 8px;
}

.page-nav a {
  z-index: 30;
}

.page-nav li a.active {
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease-out;
}


/* hero section deets */

.hero-section {
  transition: opacity 1.5s ease-in-out;
  margin: 0 auto;
  margin-bottom: 70px;
}

.hero-designs img {
  display: none;
}

.hero-text {
  width: 100%;
  display: inline-flex;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  flex-direction: column;
  }

.hero-text p {
  color: black;
  font-size: 1.2em;
  margin-top: 20px;
  line-height: 1.6em;
  letter-spacing: 2px;
  }

/* start of index portfolio */

.project {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 60px;
}

.project img {
  width: 100%;
}

.project-description {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
}

.portfolio {
  text-decoration: none;
}

/* general case study styling */

.container {
  position: relative;
}

.container:hover {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

/* hover */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 0.9;
}

.box-title.textthis {
  font-size: 2.9em;
  text-align: center;
  margin-top: 75px;
}

.text {
  font-size: 1.2em;
  top: 200px; 
  text-align: center;
  padding: 10px;
}

/* individual case studies */

/*project 1*/

.jrh {
  z-index: 25;
}

.overlay.jrh-overlay {
  background-color: #E3EAEF;
}

.box-title.textthis.jrh-t {
  color: #1F4662;
  margin-top: 50px;
}

.text.jrh-des {
  color: #04131F;
}

/*project 2*/

.habit {
  z-index: 25;
}

.overlay.habit-overlay {
  background-color: #FCAD71;
}

.box-title.textthis.habit-t {
  color: #AF3F39;
  margin-top: 55px;
}

.text.habit-des {
  color: #AF3F49;
}

/*project 3*/

.eriko {
  z-index: 25;
}

.overlay.eriko-overlay {
  background-color: #66744B;
}

.box-title.textthis.eriko-t {
  color: #CCDAB2;
}

.text.eriko-des {
  color: #CCDAB2;
}

/*project 4*/

.commerce {
  z-index: 25;
}

.overlay.comm-overlay {
  background-color: #EE6B78;
}

.box-title.textthis.comm-t {
  color: #FFCA67;
}

.text.comm-des {
  color: #FFCA67;
}

/* future projects */

.future-projects {
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 30px;
}

.future-title {
  font-size: 2em;
  border-top: 1px solid black;
  padding-top: 20px;
}

.fp-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.fp-des {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  letter-spacing: 1px;
  margin-top: 0;
}

.fp-des a {
  letter-spacing: 1px;
  border-bottom: 1px solid #4C5B7F;
  color: #4C5B7F;
}

.tbd {
  font-family: 'Lato', sans-serif;
  color: grey;
  font-style: italic;
}

.visible-title {
  text-align: center;
  font-size: 1.3em;
  margin-top: 15px;
  display: block;
}




footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 35px 20px 35px;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}

.social img:hover {
  background-color: #4C5B7F;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

/*media queries here*/

@media screen and (min-width: 400px){

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
}

.hero-text {
  margin-top: 30px;
  margin-bottom: 0;
}

.hero-text p{
  margin-top: 0;
}

.project-title {
  font-size: 2.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

}

@media screen and (min-width: 500px){

.portfolio {
  height: 100%;
  width: 95%;
}

.hero-text {
  margin-top: 50px;
  width: 80%;
}

.hero-text p {
  font-size: 1.9em;
  margin-bottom: 20px;
}

/* jen styling */

.box-title.textthis.jrh-t {
  margin-top: 120px;
}

/* habit styling */

.box-title.textthis.habit-t {
  margin-top: 110px;
}

/* eriko styling */

.box-title.textthis.eriko-t {
 margin-top: 100px;
}

/* commerce class */

.box-title.textthis.comm-t {
  margin-top: 100px;
}




}

@media screen and (min-width: 700px){


.name-logo {
margin-left: 80px;
}

.page-nav {
margin-right: 80px;
}

.hero-section {
  width: 100%;
  transition: 0.5s opacity ease;
}

.hero-text {
  margin-top: 30px;
}

.hero-text p {
  padding-left: 20px;
}

.not-sticky {
  opacity: 0;
  /*transition: 1s opacity ease-in-out;*/
}


.portfolio-pieces {
  width: 600px;
  margin: 0 auto;
  display: block;
}

/* jen styling */

.box-title.textthis.jrh-t {
  margin-top: 145px;
}

/* habit styling */

.box-title.textthis.habit-t {
  margin-top: 145px;
}

/* eriko styling */

.box-title.textthis.eriko-t {
 margin-top: 135px;
}

/* commerce class */

.box-title.textthis.comm-t {
  margin-top: 135px;
}



}

/*oranges come in seasonnnn*/

@media screen and (min-width: 800px){

.hero-section {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: -50;
}

.hero-designs img {
  display: block;
  position: relative;
  left: -90px;
  top: 30px;
  z-index: -20;
}


.hero-text {
  margin: 0 auto;
  width: 70%;
  position: absolute;
  margin-left: 90px;
}

.hero-text p {
  font-size: 1.8em;
  line-height: 1.7em;
}

.hero-designs img {
  display: block;
  position: relative;
  left: 470px;
  top: 230px;
  z-index: -20;
  width: 300px;

}

.portfolio-pieces {
  width: 600px;
  margin-top: 360px;
}

.visible-title {
 display: none;
}


}


@media screen and (min-width: 900px){

.hero-text {
  width: 780px;
  position: relative;
  margin-left: 190px;
  margin-top: 130px;
}

.hero-text p {
  padding-left: 0px;
  font-size: 1.4em;
  line-height: 1.8em;
  color: black;
  background-color: transparent;
}

.hero-designs img {
  position: relative;
  z-index: -100;
  left: -60px;
  top: 30px;
  width: 450px;
}

.portfolio-pieces {
  width: 1000px;
  display: block;
  margin-top: 600px;
}

.project {
  margin-bottom: 50px;
}

.p-row-01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
}

.p-row-02 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
}


/* jen styling */

.jrh {
  display: block;
  width: 450px;
}

.box-title.textthis.jrh-t {
  margin-top: 120px;
}

/* personal styling */

.habit {
  display: block;
  width: 450px;
}

.box-title.textthis.habit-t {
  margin-top: 110px;
}


/* eriko styling */

.eriko {
  display: block;
  width: 450px;
}

.box-title.textthis.eriko-t {
 margin-top: 120px;
}

/* commerce class */

.commerce {
  display: block;
  width: 450px;
}

.box-title.textthis.comm-t {
  margin-top: 120px;
}


}

@media screen and (min-width: 1300px){
  .hero-text {
    width: 750px;
  }
}


