@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Apercu', sans-serif;
  margin: 0;
  display: flex;
  background-color: #fff9f9;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}  

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  font-family: 'Cutive Mono', monospace;
  color: black;
}

li {
  list-style: none;
}

img {
  /*max-width: 100%;*/
  height: auto;
  width: 320px;
/*  margin: 0 auto;
  margin-bottom: 100px;*/
}

h1 {
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 2px;
  font-size: 1.6em;
}

footer p {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.85em;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
}

/* for mobile follow menu*/

body{
    padding-top: 90px;
    margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }

  .nav-up {
      top: -90px;
  }

/*end mobile follow menu*/

.wrapper {
  /*max-width: 1000px;*/
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
}

.mobile-menu{
flex-direction: end;
display: inline-block;
border: none;
background-color: transparent;
position: relative;
cursor: pointer;
margin-right: 30%;
}

.page-nav {
  display: none;

}

.page-nav.show {
  position: absolute;
  display: block;
  min-width: 160px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  left: 19%;
}

.name-logo{
  margin-left: 40px;
}

.name-logo a {
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 8px 15px 30px 15px;
  margin-top: 8px;
}

.page-nav a {
  z-index: 30;
}

.page-nav li.active {
  color: orange;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* main content */



.foto-title {
  margin-left: 20%;
}

.foto-title h1 {
  margin-top: 0;
}

.location {
  margin-left: 20%;
  /*margin-bottom: 20px;*/
  color: grey;
  font-style: italic;
}

.location p {
  font-size: 0.8em;
  margin-bottom: 2px;
}

.container {
  margin-bottom: 70px;
}

/* foto 1 styling*/

.fotos-1 {
  margin-top: 30px;
}

.foto-set-1 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.foto-set-1 img {
  margin: 10px;
}

/* fotos 2 styling */

.fotos-2 {
  margin-top: 30px
}

.foto-set-2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.foto-set-2 img {
  margin: 10px;
}


/* fotos 3 styling */

.fotos-3 {
  margin-top: 30px;
}

.foto-set-3 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.foto-set-3 img {
  margin: 10px;
}

/*fotos 4 styling */

.fotos-4 {
  margin-top: 30px;
}

.foto-set-4 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.foto-set-4 img {
  margin: 10px;
}

/*fotos 5 styling */

.fotos-5 {
  margin-top: 30px;
}

.foto-set-5 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.foto-set-5 img {
  margin: 10px;
}



footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*justify-content: space-between;*/
  margin: 0px 35px 20px 35px;
}

footer p {
  display: flex;
  flex-direction: flex-end;
  margin: 0 auto;
}

.social {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  margin: 0.7em;
  margin-top: 0;
}



/*media queries*/

@media screen and (min-width: 380px){



}

@media screen and (min-width: 400px){

.mobile-menu{
  display: none;

}

.page-nav {
  display: block;
  margin-top: 25px; 
  margin-right: 20px;

}

.page-nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page-nav li {
  padding: 0 15px 0 15px;
}

/* main body styling */



}

@media screen and (min-width: 600px) {

.name-logo {
margin-left: 80px;
}

.page-nav {
margin-right: 80px;
}

/* main body styling*/

.img-1 {
  width: 400px;
}

.china-img-1 {
  width: 500px;
}

.china-img-2 {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.china-img-3 {
  width: 500px;
}

.china-img-4 {
  width: 500px;
}


}

@media screen and (min-width: 830px){


.img-1 {
  width: 600px;
}

.img-2 {
  width: 400px;
}


.img-3 {
  width: 450px;
}

#romance {
  margin-bottom: 70px;
}

.foto-set-3 {
  display: flex;
  flex-direction: row;
  height: 466px;
  margin: 0 auto;
  max-width: 680px;
}

.plant-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.china-img-1 {
  width: 600px;
}

.china-img-2 {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.china-img-3 {
  width: 450px;
}

.china-img-4 {
  width: 450px;
}



}

@media screen and (min-width: 1000px) {


}



